.img-bg-01 {
    .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: transparent;
        
        .fwari{
            animation:fwari ease-in-out 2s infinite alternate;
            -webkit-animation:fwari ease-in-out 2s infinite alternate;
            -moz-animation:fwari ease-in-out 2s infinite alternate;
          }
          @keyframes fwari{
            0%   { transform:translate(0%, 0%); }
            100% { transform:translate(0%, -30px); }
          }
          @-webkit-keyframes fwari{
            0%   { -webkit-transform:translate(0%, 0%); }
            100% { -webkit-transform:translate(0%, -30px); }
          }
          
          @-moz-keyframes fwari{
            0%   { -moz-transform:translate(0%, 0%); }
            100% { -moz-transform:translate(0%, -30px); }
          }
        }
        li {
            list-style: none;
            padding: 0 20px;
            
            a {
                color:white;
                font-size: 24px;
                font-weight: bold;
                padding: 10px;
                font-family: $font;
                text-decoration: none;
                
            a:hover{
                  text-decoration: underline;
                 
                  }
                  
            
        }
        
    }
    
}