.img-bg-01 {
    .nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-right: 200px;
        padding-left: 200px;
        a {
            color: white;
            font-size: 14px;
        }
    }
}