* {
  padding: 0;
  margin: 0;
}
@import "_header.scss";
body,html {
  height: 100vh;
  margin: 0 auto;
}

/*画像を固定する背景*/
header, section /*footer*/  {
  box-sizing: border-box;
  color: #FFF;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 5%;
}

/*背景写真に対するCSS */
.parallax-bg {
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

//background設定
@mixin backgroundImgs(){
  background-size: cover;
  height: 100vh;
  width: 100vw;
  background-attachment: fixed;
}

/*各背景の画像*/
.img-bg-0{
  &1{
    background-image: url('../img/top-page.jpg');
    @include backgroundImgs;
  }
  &2{
    background-image: url('../img/africa.jpg');
    @include backgroundImgs;
  }
  &3{
    background-image: url('../img/alexander-schimmeck-aY-mR749vMw-unsplash.jpg');
    @include backgroundImgs;
  }
  &4{
    background-image: url('../img/angelique-emonet-BCMHxt76Q34-unsplash.jpg');
    @include backgroundImgs;
  }
}


//SWIPER
.slider {/*横幅94%で左右に余白を持たせて中央寄せ*/
  width: 80%;
  margin:0 auto;
}

.slider img {
  width:60vw;/*スライダー内の画像を60vwにしてレスポンシブ化*/
  height:60vh;
}

.slider .slick-slide {
transform: scale(0.8);/*左右の画像のサイズを80%に*/
transition: all .5s;/*拡大や透過のアニメーションを0.5秒で行う*/
opacity: 0.5;/*透過50%*/
}

.slider .slick-slide.slick-center{
transform: scale(1);/*中央の画像のサイズだけ等倍に*/
opacity: 1;/*透過なし*/
}


/*矢印の設定*/

/*戻る、次へ矢印の位置*/
.slick-prev, 
.slick-next {
  position: absolute;/*絶対配置にする*/
  top: 42%;
  cursor: pointer;/*マウスカーソルを指マークに*/
  outline: none;/*クリックをしたら出てくる枠線を消す*/
  border-top: 2px solid #666;/*矢印の色*/
  border-right: 2px solid #666;/*矢印の色*/
  height: 15px;
  width: 15px;
}

.slick-prev {/*戻る矢印の位置と形状*/
  left: -1.5%;
  transform: rotate(-135deg);
}

.slick-next {/*次へ矢印の位置と形状*/
  right: -1.5%;
  transform: rotate(45deg);
}

/*ドットナビゲーションの設定*/

.slick-dots {
  text-align:center;
margin:20px 0 0 0;
}

.slick-dots li {
  display:inline-block;
margin:0 5px;
}

.slick-dots button {
  color: transparent;
  outline: none;
  width:8px;/*ドットボタンのサイズ*/
  height:8px;/*ドットボタンのサイズ*/
  display:block;
  border-radius:50%;
  background:#ccc;/*ドットボタンの色*/
}

.slick-dots .slick-active button{
  background:#333;/*ドットボタンの現在地表示の色*/
} 

/*コンタクト*/

#contact{
  background-image: url(../img/contact.jpg);
  background-size: cover;
  color: gray;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  h1{
    font-family: 'Megrim', cursive;
  }
    .contact-wrap{
      display: flex;
      align-items: center;
      flex-direction: column;
      margin-top: 20px;
    }
    input, textarea {
      width: 90%;
      font-size: 20px;
      margin-bottom: 20px;
      padding: 3px 12px;
      font-family: 'Megrim', cursive;
    }

    /*== 外の線が伸びる */
.btnlinestretches{
  /*線の基点とするためrelativeを指定*/
position:relative;
  /*ボタンの形状*/
color:#333;
border:1px solid #333;
  padding: 10px 30px;	
display:inline-block;
  text-decoration: none;
  outline: none;
  /*アニメーションの指定*/
transition:all 0.3s ease-in-out;
}

/*hoverした際の背景の形状*/
.btnlinestretches:hover{
background:#333;
color: #fff;
border-color:transparent;
}

/*線の設定*/
.btnlinestretches::before,
.btnlinestretches::after {
content:'';
  /*絶対配置で線の位置を決める*/   
position:absolute;
border:solid #333;
width:10px;
height:10px;
  /*アニメーションの指定*/
transition:all 0.3s ease-in-out;
}

/*線の位置と形状*/
.btnlinestretches::before{
top:-6px;
left:-6px;
border-width:1px 0 0 1px;
}

/*線の位置と形状*/
.btnlinestretches::after{
bottom:-6px;
right:-6px;
border-width:0 1px 1px 0;
}

/*hoverした際の線の形状*/
.btnlinestretches:hover::before,
.btnlinestretches:hover::after{
width:calc(100% + 11px);
height:calc(100% + 11px);
border-color:#666;
}
    
}

@import "_footer.scss";